// Mixing 
@mixin flexBox($dir, $jc, $al) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $al;
}

@mixin header {
    padding: 20px;
    margin: 25px 0px 20px 0px;
    line-height: 1.6;
}

@mixin h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

@mixin headerPara {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

@mixin form {
    padding: 20px 35px 20px 35px;
    width:  800px;
    height: auto;
    background : hsla(39, 100%, 50%, 0.95);
    border-radius: 8px;
}

@mixin commonCode {
    padding: 10px;
    background: white;
    outline: none;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 4px;
    border: transparent;
}

@mixin labelCode {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 10px 0px 5px 0px; 
    color: black;
}

@mixin formContPara {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 10px 0px 10px 0px; 
    color: black;
}

@mixin button {
    padding: 15px;
    background: skyblue;
    outline: none;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
}
