// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

// Partial File
@import '_CSSreset';
@import '_mixing';

// SCSS Coding
/* Body CSS Code */
body{
    width: 100%;
    @include flexBox(column, center, center);
    font-family: 'Poppins', sans-serif;  
    font-size: 1rem;
    font-weight: 400;  
    background: url("../img/img-6.jpg") no-repeat;
    background-size: 100% 100%;
}

/* Header ELemnt CSS Code */
header{
    @include flexBox(column, center, center);
    @include header;
    h1{
        @include h1;
    }
    p{
        @include headerPara;
    }
}

/* Form Element CSS Code */
#survey-form{
    @include form;
}

/* Inner Form element Form-Container CSS Code */
.form-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 5px 0px;
    p{
        @include formContPara;
    }
}

/* All Input tag CSS Code */
#name, #email, #number, #role-name, #most-like{
    @include commonCode;
}

/* Name, Email, Number Label CSS Code */
#name-label, #email-label, #number-label{
    @include labelCode;
}

/* Inner label tag Span tag Class="sub" CSS Code */
.sub{
    margin-left: -1px;
    font-size: 1rem;
    color: white;
    color: black;
}

/* radio lable & checkbox label CSS Code */
#radio, #checkbox{
    display: flex;
    flex-direction: row;
}

/* Inner Checkbox span tag CSS Code */
span{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0px 0px 0px 10px;
    color: black;
}

/* Input Radio Button & Input Checkbox CSS Code */
.radio, .input-checkbox{
    width: 25px;
    height: 25px;
    margin: 0px 0px 10px 0px; 
}

/* Forum Submit button CSS Code */ 
#submit{
    @include button;
    &:hover{
        background-color: green;
        color: white;
    }
}

/* Responsive CSS Code */
@media all and (max-width: 865px) {
    header {
        width: 100%;
        h1{
            font-size: 6.5vw;
            text-align: center;
            transition: 0.4s;
        }
        p{
            font-size: 4.2vw;
            text-align: center;
            transition: 0.4s;
        }
    }
    #survey-form {
        width: 85%;
        transition: 0.4s;
    }
}

