// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

// Partial File
@import '_CSSreset';
@import '_mixing';

// SCSS Coding
body{
    width: 100%;
    @include flexBox(column, center, center);
    font-family: 'Poppins', sans-serif;  
    font-size: 1rem;
    font-weight: 400;  
    background: url('/img/img-5.jpg') no-repeat;
    background-size: 100% 100%;
}

header{
    @include flexBox(column, center, center);
    @include header;
    h1{
        @include h1;
    }
    p{
        @include headerPara;
    }
}

#survey-form{
    @include form;
}

.form-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 5px 0px;
    p{
        @include formContPara;
    }
}

#name, #email, #number, #role-name, #most-like{
    @include commonCode;
}

#name-label, #email-label, #number-label{
    @include labelCode;
}

.sub{
    margin-left: -1px;
    font-size: 1rem;
    color: white;
    color: black;
}

#radio, #checkbox{
    display: flex;
    flex-direction: row;
}

.radio, .input-checkbox{
    width: 25px;
    height: 25px;
    margin: 0px 0px 10px 0px; 
}

span{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0px 0px 0px 10px;
    color: black;
}

#submit{
    @include button;
    &:hover{
        background-color: green;
        color: white;
    }
}

@media all and (max-width: 865px) {
    header {
        width: 100%;
        h1{
            font-size: 6.5vw;
            text-align: center;
            transition: 0.4s;
        }
        p{
            font-size: 4.2vw;
            text-align: center;
            transition: 0.4s;
        }
    }
    #survey-form {
        width: 85%;
        transition: 0.4s;
    }
}

